@using DelicatoBA.Models
@{
    var config = (ConfigSite)HttpContext.Current.Application["ConfigSite"];
    ViewBag.Title = "Liên hệ";
}
<div class="bg-breadcrumb">
    <div class="container">
        <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item"><a href="@Url.Action("Index")"><i class="fal fa-home mr-1"></i> Trang chủ</a></li>
            <li class="breadcrumb-item active" aria-current="page">Liên hệ</li>
        </ol>
    </div>
</div>

<section class="contact-me">
    <div class="container py-lg-4 py-3">
        <div class="box-border box-contact">
            <div class="row no-gutters">
                <div class="col-lg-6">
                    <div class="bg-white shadow h-100 p-3">
                        <p class="company">Thông tin liên hệ</p>
                        @if (config.InfoContact != null)
                        {
                            <div class="content-detail">
                                @Html.Raw(config.InfoContact)
                            </div>
                        }
                    </div>
                </div>
                <div class="col-lg-6">@Html.Action("ContactForm")</div>
            </div>

            @if (config.GoogleMap != null)
            {
                <div class="embed-responsive embed-responsive-21by9">
                    @Html.Raw(config.GoogleMap)
                </div>
            }
        </div>
    </div>
</section>