@font-face {
  font-family: "SEGOEUI";
  font-display: swap;
  src: url("../webfonts/SEGOEUI.TTF") format("truetype");
}
@font-face {
  font-family: "iCiel";
  font-display: swap;
  src: url("../webfonts/Fester-Bold.otf") format("truetype");
}
@font-face {
  font-family: "UTM";
  font-display: swap;
  src: url("../webfonts/UTM-Beautiful-Caps.ttf") format("truetype");
}
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

li {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  object-fit: cover;
  max-width: 100%;
  height: auto;
}

p {
  margin: 0;
}

.field-validation-error {
  color: red;
}

.see-more {
  padding: 12px 25px;
  display: inline-block;
  position: relative;
}
.see-more img {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 19px;
  object-fit: cover;
}
.see-more a {
  font-size: 14px;
  font-weight: 600;
}
.see-more::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background: inherit;
  left: 10%;
  bottom: -15%;
  transition: all 0.3s;
}
.see-more::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 100%;
  background: inherit;
  right: -5%;
  bottom: -30%;
  transition: all 0.3s;
}

.see-more:hover::before {
  transform: translateX(-10%);
}

.see-more:hover::after {
  transform: translateY(-30%);
}

.section-sub-title {
  font-size: 36px;
  line-height: 44px;
  color: #FFA731;
  font-family: "UTM";
}
@media screen and (max-width: 768px) {
  .section-sub-title {
    font-size: 30px;
  }
}
@media screen and (max-width: 576px) {
  .section-sub-title {
    font-size: 26px;
  }
}

.section-title {
  color: #37476E;
  font-family: "iCiel";
}

.title-category {
  font-family: "iCiel";
  background: #0d1d31;
  padding: 0.75rem 1rem 0.5rem;
  position: relative;
  border-radius: 0 10px;
  color: #fff;
  text-transform: uppercase;
}
.title-category::before {
  position: absolute;
  content: "";
  background: #fff;
  width: 100%;
  height: 100%;
  top: 5px;
  left: 0;
  border: 1px solid #1a1a1a;
  border-right: 0;
  border-radius: 0 10px;
  z-index: -1;
}

.container {
  max-width: 1230px;
}

a:hover {
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  color: #000;
  font-family: "SEGOEUI";
}

.icon-fixed {
  display: inline-block;
  height: 62px;
  width: 62px;
  background: #FFA731;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50rem;
  border: 8px solid #cccccc;
  position: fixed;
  right: 0;
}
.icon-fixed i {
  color: #fff;
}
.icon-fixed.map {
  bottom: 130px;
}
.icon-fixed.chat {
  bottom: 50px;
}

.keyword {
  border-radius: 10px;
  color: #fff;
  background: #1a1a1a;
  text-align: center;
}

.header.scoll-menu {
  background: #37476E;
}
.header.scoll-menu .menu-children {
  background: #37476E;
  border-left: 2px solid #FFA731;
}

.header.bg-blue {
  background: #37476E;
}
.header.bg-blue .menu-children {
  background: #37476E;
  border-left: 2px solid #FFA731;
}

.header {
  background: rgba(0, 0, 0, 0.3);
  top: 0;
  height: 62px;
  position: fixed;
  width: 100%;
  z-index: 99;
}

.header-mobi {
  display: none;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}
.header-mobi i {
  color: #fff;
  font-size: 1.5rem;
  margin-left: 20px;
}

.header-logo {
  border: 8px solid #fff;
  position: absolute;
  height: 78px;
  z-index: 99;
}

.menu-list {
  display: flex;
  justify-content: space-between;
}
.menu-list a {
  color: #fff;
}

.menu-item {
  position: relative;
  padding: 20px 0;
  font-weight: 700;
}
.menu-item i {
  color: #fff;
}

.menu-item:hover .menu-children {
  opacity: 1;
  visibility: visible;
}

.menu-item a:hover {
  color: #FFA731;
}

.menu-children {
  min-width: 200px;
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  left: 0;
  top: 62px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}
.menu-children i {
  padding: 0 5px;
  transition: all 0.3s;
}
.menu-children a {
  display: block;
  padding: 0.5rem;
  border-bottom: 1px #666 solid;
}
.menu-children a:hover {
  color: #FFA731;
}
.menu-children a:hover i {
  transform: rotate(360deg);
  color: #FFA731;
}

#search-top {
  position: fixed;
  top: 110px;
  right: -100%;
  width: 300px;
  transition: all 0.3s;
}
#search-top.active {
  right: 0;
}
#search-top input {
  background: #1a1a1a;
  border-color: #666;
  color: #fff;
}
#search-top .btn {
  background: #1a1a1a;
  border-color: #666;
  color: #fff;
}
#search-top i {
  color: #fff;
}

.banner-item {
  position: relative;
}
.banner-item img {
  width: 100%;
  height: 667px;
}
.banner .name {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  font-weight: 600;
  transform: rotate(-90deg);
}
.banner .name::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 2px;
  background: #fff;
  bottom: 7px;
  left: -70px;
}

.slick-dots {
  display: flex !important;
  position: absolute;
  bottom: 20px;
  right: 10%;
}
.slick-dots li {
  margin-left: 10px;
}
.slick-dots .slick-active button {
  background: #fff;
}
.slick-dots button {
  background: transparent;
  color: transparent;
  width: 12px;
  height: 12px;
  border-radius: 50rem;
  border: 1px solid #fff;
}

.bg-breadcrumb {
  background: #e5e5e5;
  margin-top: 62px;
}
.bg-breadcrumb .breadcrumb {
  background: none;
}

.footer {
  background-color: #343434;
  font-size: 14px;
  color: #fff;
  position: relative;
}
.footer-img {
  text-align: center;
  position: relative;
}
.footer-img::after, .footer-img::before {
  content: "";
  position: absolute;
  width: 43%;
  height: 1px;
  background: #fff;
  bottom: 10px;
}
.footer-img::before {
  left: 0;
}
.footer-img::after {
  right: 0;
}
.footer-img img {
  width: 62px;
  max-height: 99px;
}
.footer .title {
  text-transform: uppercase;
  font-weight: 700;
  color: #FFA731;
  margin-bottom: 8px;
}
.footer .phone,
.footer .email {
  margin-bottom: 16px;
  font-size: 12px;
}
.footer-social {
  display: inline-flex;
  border: 1px solid #fff;
}
.footer-social .item {
  height: 49px;
  width: 49px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid #fff;
}
.footer-social .item:last-child {
  border-right: 1px solid transparent;
}
.footer-social .item i {
  font-size: 16px;
  color: #fff;
}
.footer-link a {
  color: #fff;
  margin-bottom: 6px;
  display: block;
}
.footer-form {
  margin-top: 19px;
}
.footer-form input {
  padding: 12px;
  height: auto;
  background: transparent;
  border-radius: 0;
  flex: 1 1 auto;
  width: 1%;
  border: 1px solid #fff;
  border-right: transparent;
  color: #fff;
}
.footer-form input::placeholder {
  color: #fff;
  font-size: 12px;
}
.footer-form button {
  background: #FFA731;
  border-radius: 0;
  padding: 6px 14px;
}
.footer .copyright {
  margin-top: 27px;
  border-top: 1px solid #fff;
  text-align: center;
  padding: 20px 0;
}
.footer-container {
  position: relative;
}
.footer-bg {
  position: absolute;
  bottom: 0;
  right: 2%;
  height: 70%;
  width: 149px;
}

.img-tree {
  height: 500px;
  width: 252px;
  position: absolute;
  top: -20%;
}

.intro {
  position: relative;
  padding: 50px 0;
}
.intro .section-title {
  font-size: 36px;
  line-height: 44px;
  font-weight: 700;
  font-family: "iCiel";
  line-height: 44px;
}
@media screen and (max-width: 768px) {
  .intro .section-title {
    font-size: 30px;
  }
}
@media screen and (max-width: 576px) {
  .intro .section-title {
    font-size: 26px;
  }
}
.intro-img--left {
  height: 237px;
  width: 100%;
  object-fit: cover;
}
.intro-img--right {
  position: relative;
}
.intro-img--right img {
  margin: 0 auto;
  display: block;
  width: 392px;
  height: 508px;
}
.intro-img--right::before {
  content: "";
  position: absolute;
  background-image: url("images/main-about-dots 1.png");
  height: 335px;
  width: 100%;
  z-index: -1;
  top: 50%;
  transform: translateY(-50%);
}
.intro .content {
  max-width: 550px;
  margin: 16px 0;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}
.intro .see-more {
  margin-top: 38px;
  background: #37476E;
}
.intro .see-more a {
  color: #fff;
}

.project {
  background-color: #37476E;
  padding: 40px 0;
  width: 100%;
  background-image: url("images/bg-before.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
}
.project .see-more {
  background: #FFA731;
}
.project .see-more a {
  color: #37476E;
  font-weight: 600;
}

.project-item {
  text-align: center;
  padding: 0 50px;
}
.project-item .title {
  color: #fff;
  font-family: "iCiel";
  text-transform: uppercase;
  margin-bottom: 14px;
  font-size: 30px;
  line-height: 36.87px;
}
@media screen and (max-width: 768px) {
  .project-item .title {
    font-size: 24px;
  }
}
.project-item .des {
  margin: 0 auto;
  max-width: 710px;
  color: #fff;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}
.project-item .see-detail {
  display: block;
}
.project-item img {
  display: inline-block !important;
}
.project-item .see-detail {
  margin-top: 10px;
}
.project-item .see-detail a {
  color: #fff;
  font-style: italic;
  text-decoration: underline;
}
.project-item .see-detail i {
  font-size: 13px;
  color: #fff;
  margin-left: 9px;
}
.project-item .slick-active {
  display: block;
}

.nav-project {
  position: relative;
}
.nav-project .slick-track {
  margin: 60px 0;
}
.nav-project .slick-center {
  transform: scaleY(1.2);
  transition: all 0.3s ease-in;
}
.nav-project .slick-prev,
.nav-project .slick-next {
  width: 41px;
  height: 41px;
  background: #fff;
  display: flex !important;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 80;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.nav-project .slick-next {
  right: 23%;
}
.nav-project .slick-prev {
  left: 23%;
}
.nav-project .slick-slide {
  margin: 0 25px;
}

.project-img {
  position: relative;
  /*margin: 0 25px;*/
  /* &.slick-center {
       &::before {
           background: transparent;
       }
   }*/
}
.project-img img {
  width: 100%;
}
.project-img::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: rgba(51, 51, 51, 0.8);
}

.nav-project .slick-center .project-img::before {
  background: transparent;
}

.project-box {
  position: relative;
  overflow: hidden;
}
.project-box img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.project-box .sapo {
  position: absolute;
  bottom: 0;
  left: -100%;
  z-index: 3;
  color: #fff;
  width: 100%;
  padding: 1rem;
  transition: all 0.3s;
}
.project-box .name {
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  font-size: 1.25rem;
  font-family: "iCiel";
  margin-top: 10px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}
.project-box .item-img {
  position: relative;
  height: 300px;
}
.project-box .item-img::before {
  content: "";
  position: absolute;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  background: rgba(13, 29, 49, 0.5);
  top: 0;
  left: 0;
  transform: scale(0);
  transition: all 0.3s;
}
.project-box:hover .sapo {
  left: 0;
}
.project-box:hover .item-img::before {
  transform: scale(1);
}
.project-box:hover .name {
  color: #FFA731;
}

.construction {
  padding: 75px 0;
}
.construction-img {
  padding-right: 52px;
  position: relative;
}
.construction-img::before {
  content: "";
  position: absolute;
  background-image: url("images/construction-before.png");
  width: 343px;
  height: 60%;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.construction-img img {
  height: 441px;
  width: 100%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  border: 8px solid #fff;
  z-index: 2;
  position: relative;
}
.construction .content {
  padding-left: 54px;
}
.construction .content::before {
  content: "";
  position: absolute;
  height: 423px;
  width: 40%;
  background-image: url("images/icon-tree.png");
  background-size: cover;
  background-repeat: no-repeat;
  top: 0;
  right: 0;
}
.construction .see-more {
  background: #37476E;
}
.construction .see-more a {
  color: #fff;
}
.construction .section-title {
  font-size: 36px;
  line-height: 44px;
  margin-bottom: 16px;
}
@media screen and (max-width: 768px) {
  .construction .section-title {
    font-size: 30px;
  }
}
@media screen and (max-width: 576px) {
  .construction .section-title {
    font-size: 26px;
  }
}

.factory {
  background: linear-gradient(90.28deg, rgba(55, 71, 110, 0.81) 0.23%, rgba(55, 71, 110, 0) 99.75%);
  background-image: url("images/factory.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 128px 0;
}
.factory .section-sub-title {
  margin-bottom: 16px;
}
.factory .section-title {
  color: #fff;
  font-size: 36px;
  line-height: 44px;
}
@media screen and (max-width: 768px) {
  .factory .section-title {
    font-size: 30px;
  }
}
@media screen and (max-width: 576px) {
  .factory .section-title {
    font-size: 26px;
  }
}
.factory .des {
  max-width: 548px;
  color: #fff;
  margin: 10px 0 20px;
}
.factory .see-more {
  background: #FFA731;
}
.factory .see-more a {
  color: #fff;
}

.personnel {
  padding: 45px 0;
}
.personnel .section-title {
  font-size: 30px;
  line-height: 36.87px;
}
@media screen and (max-width: 768px) {
  .personnel .section-title {
    font-size: 24px;
  }
}
.personnel-img {
  padding: 24px;
  border: 1px solid #37476E;
  margin-bottom: 13px;
}
.personnel-img img {
  height: 317px;
  width: 100%;
}
.personnel .slick-list {
  margin: 0 -10px;
}
.personnel .slick-slide {
  margin: 0 10px;
}

.personnel-item .name {
  color: #37476E;
  font-size: 18px;
  font-weight: 600;
}
.personnel-item .occ {
  font-size: 14px;
  color: #FFA731;
}

.info-ex {
  background-color: #37476E;
  padding: 90px 0;
  width: 100%;
  background-image: url(images/bg-before.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
}
.info-ex .chart {
  text-align: center;
  position: relative;
}
.info-ex span {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin-bottom: 0;
  font-weight: 700;
  color: #fff;
  width: 113px;
  height: 113px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50rem;
  font-size: 30px;
  line-height: 36.87px;
}
@media screen and (max-width: 768px) {
  .info-ex span {
    font-size: 24px;
  }
}
.info-ex span p {
  margin: 0;
}
.info-ex p {
  text-align: center;
  font-weight: 600;
  color: #fff;
  margin-top: 16px;
}

.blog {
  padding: 30px 0;
  background: url("images/bg-blog.jpg") no-repeat center/cover;
}
.blog .section-title {
  font-size: 30px;
  line-height: 36.87px;
}
@media screen and (max-width: 768px) {
  .blog .section-title {
    font-size: 24px;
  }
}
.blog .see-more {
  background: #37476E;
  margin-top: 25px;
}
.blog .see-more a {
  color: #fff;
}

.blog-item {
  margin-bottom: 20px;
}
.blog-item a {
  display: block;
  overflow: hidden;
}
.blog-item img {
  height: 190px;
  width: 100%;
  transition: all 0.3s;
}
.blog-item img:hover {
  transform: scale(1.1);
}
.blog-item .body {
  background: #fff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  padding: 30px 25px;
  position: relative;
}
.blog-item .date {
  position: absolute;
  padding: 8px;
  background: #FFA731;
  top: 0;
  transform: translateY(-50%);
  color: #fff;
  font-size: 13px;
}
.blog-item .name {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 10px;
  height: 54px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}
.blog-item .name a {
  color: #373737;
}
.blog-item .name a:hover {
  color: #FFA731;
}
.blog-item .des {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  font-size: 14px;
  height: 63px;
  margin-bottom: 10px;
}
.blog-item .read {
  color: #959595;
  font-size: 14px;
  /*display:inline-block;*/
  display: inline-flex;
  align-items: center;
  transition: all 0.3s;
}
.blog-item .read:hover {
  transform: translateX(5px);
}
.blog-item .read a {
  color: #959595;
  margin-right: 8px;
  font-style: italic;
}

.team-detail .name {
  font-weight: 700;
  font-size: 1.5rem;
  font-family: iCiel;
}
.team-detail .job {
  font-size: 1.25rem;
  color: #FFA731;
  margin-bottom: 1rem;
}
.team-detail .body {
  font-family: "Roboto";
}

.contact-me .company {
  font-family: iCiel;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.contact-form {
  background: #37476E;
  height: 100%;
  padding: 30px;
}
.contact-form .title {
  color: #fff;
  font-size: 30px;
  line-height: 36.87px;
  font-family: "iCiel";
}
@media screen and (max-width: 768px) {
  .contact-form .title {
    font-size: 24px;
  }
}
.contact-form .sub-title {
  color: #fff;
}
.contact-form .send {
  background: linear-gradient(#fdb813, #fd8313);
  width: 100%;
  color: #000 !important;
  border-radius: 0;
  font-weight: 700;
}
.contact-form input {
  height: 50px;
}

.box-border {
  border: 1px solid #e5e5e5;
  padding: 0.8rem;
}

.project-detail {
  margin-bottom: 50px;
}
.project-detail .title {
  font-size: 36px;
  line-height: 44px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  font-family: "iCiel";
  color: #000;
}
@media screen and (max-width: 768px) {
  .project-detail .title {
    font-size: 30px;
  }
}
@media screen and (max-width: 576px) {
  .project-detail .title {
    font-size: 26px;
  }
}
.project-detail .box-border {
  width: 80%;
  margin: 0 auto;
  border: 1px solid #e5e5e5;
  padding: 0.8rem;
}

.product-gallery img {
  width: 100%;
  height: 550px;
}

.product-nav {
  /*margin: 20px 30px;*/
  position: relative;
}
.product-nav .slick-slide {
  padding: 4px;
}
.product-nav .item {
  position: relative;
}
.product-nav .item::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
}
.product-nav .slick-current .item::before {
  background: transparent;
}
.product-nav img {
  height: 120px;
  width: 100%;
  object-fit: cover;
  cursor: pointer;
  /*padding: 2px;
  border: 1px solid #fff;*/
}
.product-nav .slick-prev, .product-nav .slick-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  z-index: 80;
}
.product-nav .slick-prev {
  left: -15px;
}
.product-nav .slick-next {
  right: -15px;
}

.ul-catalog li {
  list-style: disc;
}

.category-article {
  padding: 0 20px;
}
.category-article a {
  color: #000;
}
.category-article a:hover {
  color: #FFA731;
}

.article-recently {
  position: relative;
  padding-bottom: 0.4rem;
  border-bottom: 0.5px solid #e5e5e5;
  margin: 0.6rem 0;
  display: flex;
}
.article-recently:last-child {
  border-bottom: none;
}
.article-recently::before {
  position: absolute;
  content: "";
  background: #1a1a1a;
  width: 0;
  height: 0.5px;
  left: 0;
  bottom: 0;
  transition: all 0.4s;
}
.article-recently img {
  width: 100px;
  height: 80px;
}
.article-recently a {
  color: #000;
}
.article-recently a:hover {
  color: #FFA731;
}
.article-recently .body {
  padding-left: 8px;
  flex: 1;
}
.article-recently .body a {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  font-weight: 600;
  margin-bottom: 5px;
}

.article-recently:hover::before {
  transform: scaleX(1);
  width: 100%;
}

.content-detail {
  font-family: "Roboto";
}
.content-detail .section-title {
  font-size: 28px;
}
.content-detail .date {
  font-size: 0.875rem;
}

.sapo-detail {
  background: #e5e5e5;
  border: 1px #ccc dashed;
  padding: 10px;
  font-style: italic;
  margin: 1rem 0;
  font-weight: 500;
}

.share li {
  padding-right: 8px;
  font-size: 0.875rem;
  font-weight: 500;
}
.share li:first-child {
  padding-right: 15px;
}
.share button {
  height: 30px;
  width: 30px;
  border: none;
  border-radius: 3px;
  transition: all 0.3s;
  color: #fff;
}
.share .facebook {
  background: #3b5997;
}
.share .twitter {
  background: #1da1f2;
}
.share .instagram {
  background: #dc3472;
}
.share .linkedin {
  background: #0077b5;
}

.related-article img {
  width: 300px;
  height: 200px;
  border-radius: 6px;
  object-fit: cover;
  margin-right: 20px;
}
.related-article .article-recently {
  align-items: center;
  padding-bottom: 10px;
}
.related-article .article-recently a {
  font-size: 1.2rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}
.related-article .des {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}

.box-wraper {
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  overflow: hidden;
}

.search-form {
  padding: 1rem;
}

.category-menu > li > a {
  color: #fff !important;
  background: #0d1d31;
  text-transform: uppercase;
  font-weight: 700;
}
.category-menu li a {
  display: block;
  line-height: 40px;
  padding: 0 1rem;
  color: #000;
}

@media screen and (max-width: 991px) {
  .show-menu .menu-list {
    left: 0;
  }

  .header-mobi {
    display: flex;
  }

  .menu-list {
    position: absolute;
    display: block;
    width: 100%;
    background: #37476E;
    left: -100%;
    top: 62px;
    z-index: 98;
    padding-left: 20px;
    height: 100vh;
    transition: all 0.2s;
  }

  .menu-item {
    text-transform: uppercase;
    border-bottom: 1px solid #666;
  }
  .menu-item i {
    display: none;
  }

  .menu-children {
    position: relative;
    opacity: 1;
    visibility: visible;
    top: 0;
    margin-top: 8px;
    border-left: 3px solid #FFA731;
    background: #37476E;
    padding-left: 20px;
  }
  .menu-children a {
    border: none;
  }
}
@media screen and (max-width: 768px) {
  .title-category {
    /*padding: 8px 0;*/
    font-size: 1.25rem;
  }

  body {
    font-size: 14px;
  }

  .banner .slick-dots {
    bottom: 0;
  }

  .banner-item img {
    height: 300px;
  }

  .intro {
    padding: 40px 0;
  }
  .intro .img-tree {
    top: -3%;
  }

  .nav-project .slick-prev {
    left: 14%;
  }
  .nav-project .slick-next {
    right: 14%;
  }

  .factory {
    background-size: cover;
    padding: 60px 0;
  }

  .project {
    padding: 30px 0;
  }

  .project-box {
    margin-top: 25px;
  }
  .project-box .item-img {
    height: 220px;
  }
  .project-box .item-img::before {
    transform: scale(1);
  }
  .project-box .sapo {
    left: 0;
  }

  .construction {
    padding: 40px 0;
  }
  .construction .content {
    padding-left: 0;
  }
  .construction-img img {
    height: 350px;
  }

  .personnel-img {
    padding: 16px;
  }
  .personnel-img img {
    height: 255px;
  }

  .info-ex {
    padding: 40px 0;
  }

  .blog-item .name {
    height: auto;
  }
  .blog-item .des {
    height: auto;
  }
  .blog-item img {
    height: 200px;
  }

  .project-detail .box-border {
    width: 100%;
  }

  .product-gallery img {
    height: 250px;
  }

  .related-article img {
    width: 120px;
    height: 120px;
    margin-right: 10px;
  }
}
@media screen and (max-width: 577px) {
  .gutters-5 {
    margin-left: -5px;
    margin-right: -5px;
  }

  .gutters-5 [class^=col-] {
    padding-left: 5px;
    padding-right: 5px;
  }

  .personnel {
    padding: 35px 0;
  }
  .personnel-img img {
    height: 300px;
  }

  .intro-img--right img {
    height: 330px;
  }

  .project {
    padding: 20px 0;
  }

  .related-article .des {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
  }
}
